.viagem_mainDiv
{
    border: 1px solid lightgrey;
}


.viagem_mainDiv img
{
  width: 100%;
}


.viagem_mainDiv h5 , .viagem_mainDiv p
{
margin: 20px;
}




.filmesHead
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}


.filmesHead i
{
float: right;
}


.filmesText span
{
color: orange;
}




.livros
{
    margin-bottom: 20px;
}


#contato iframe
{
    width: 100%;
}



